body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* Hero Section */
.heroSection {
    position: relative;
    width: 100%;
    height: 70vh;
}

.heroImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.heroOverlay {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    color: white;
}

.heroTitle {
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: 700;
    margin: 0;
}

.heroSubtitle {
    font-size: clamp(0.8rem, 2vw, 1.3rem);
    margin-top: 10px;
}

/* Content Sections */
.aboutSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 80%;
    margin: 4% auto;
    padding: 3%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.aboutSection.reverse {
    flex-direction: row-reverse;
}

.aboutImageContainer {
    flex: 1;
}

.aboutImage {
    width: 100%;
    border-radius: 12px;
}

.aboutTextContainer {
    flex: 1;
}

.sectionTitle {
    font-size: clamp(1.2rem, 3vw, 2rem);
    color: red;
    margin-bottom: 15px;
}

.sectionParagraph {
    font-size: clamp(0.8rem, 1.6vw, 1.1rem);
    line-height: 1.5;
}

/* Scroll animations */
.scroll-fade-in {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.scroll-fade-in.animated {
    opacity: 1;
    transform: translateY(0);
}

/* Responsive */
@media (max-width: 768px) {
    .aboutSection,
    .aboutSection.reverse {
        flex-direction: column ;
        text-align: center;
    }
}


.footer{
    width: 100%;
    height: 15%;
    padding: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.footerText{
    font-size: 16px;
    font-weight: 300;
    font-size: clamp(0.6rem, 1vw, 1rem);
    color: black;
 
 
}
